<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyc.report.database.mapper.ReportDatabaseMapper">
    <insert id="insertDatabase">
        insert into REPORT_DATABASE VALUES(DATABASE_NEWSID.nextval,#{reportDatabase.databaseName}
        ,#{reportDatabase.databaseUrl}
        ,#{reportDatabase.databaseUsername}
        ,#{reportDatabase.databasePassword}
        ,#{reportDatabase.databaseType},sysdate,sysdate)
    </insert>

    <update id="updateDatabase">
        update REPORT_DATABASE
        <set>
            <if test="reportDatabase.databaseName!=null and reportDatabase.databaseName!=''">
                database_name = #{reportDatabase.databaseName},
            </if>
            <if test="reportDatabase.databaseUrl!=null and reportDatabase.databaseUrl!=''">
                database_url = #{reportDatabase.databaseUrl},
            </if>
            <if test="reportDatabase.databaseUsername!=null and reportDatabase.databaseUsername!=''">
                database_username = #{reportDatabase.databaseUsername},
            </if>
            <if test="reportDatabase.databasePassword!=null and reportDatabase.databasePassword!=''">
                database_password = #{reportDatabase.databasePassword},
            </if>
            <if test="reportDatabase.databaseType!=null and reportDatabase.databaseType!=''">
                database_type = #{reportDatabase.databaseType},
            </if>
            update_time = sysdate
        </set>
        <where>
            database_id = #{reportDatabase.databaseId}
        </where>
    </update>

    <select id="getDataBaseByName" resultType="com.hyc.report.database.entity.ReportDatabase">
        select * from REPORT_DATABASE
        <where>
            <if test="databaseName!=null and databaseName!=''">
                DATABASE_NAME like concat(concat('%',#{databaseName}),'%')
            </if>
        </where>
    </select>
</mapper>
