<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyc.report.mapper.ReportMapper">
    <!--这3个标签对应的是对清单报表的配置-->
    <insert id="insertReportMain">
        insert into REPORT_QD_MAIN values
            (report_qd_main_newsId.nextval
            ,#{ReportMain.reportName}
            ,#{ReportMain.reportDescribe}
            ,sysdate,sysdate)
    </insert>
    <insert id="insertReportDetail">
        insert into REPORT_QD_DETAIL values
            (report_qd_detail_newsId.nextval
            ,#{ReportDetail.reportName}
            ,#{ReportDetail.reportId}
            ,#{ReportDetail.databaseId,jdbcType=VARCHAR}
            ,sysdate,sysdate)
    </insert>
    <insert id="insertReportDetailCondition">
        begin
            <foreach collection="reportDetail.fieldList" item="item" index="index">
                insert into REPORT_QD_FIELDLIST values
                (fieldList_newsId.nextval
                ,#{reportDetail.reportDetailId,jdbcType=VARCHAR}
                ,#{item.sqlType}
                ,#{item.sqlContent});
            </foreach>
            <foreach collection="reportDetail.businessField" item="item" index="index">
                insert into REPORT_QD_BUSINESS values
                (businessList_newsId.nextval
                ,#{reportDetail.reportDetailId,jdbcType=VARCHAR}
                ,#{item.businessField});
            </foreach>
        end;
    </insert>

    <!--这个包含了4个删除语句，由于表的配置问题，所以4个全是删除-->
    <delete id="deleteReportByIds">
        begin
        delete from REPORT_QD_MAIN
        <where>
            report_id in
            <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>;

        delete from REPORT_QD_DETAIL
        <where>
            report_id in
            <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>;

        delete from REPORT_QD_FIELDLIST
        <where>
            report_detail_id in
            <foreach collection="delIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>;

        delete from REPORT_QD_BUSINESS
        <where>
            report_detail_id in
            <foreach collection="delIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>;
        end;
    </delete>
    <!--查询多个删除id集合-->
    <select id="getDelId" resultType="java.lang.Integer">
        select report_detail_id from REPORT_QD_DETAIL
        <where>
            report_id in
            <foreach collection="ids" item="item" separator="," index="index" open="(" close=")">
                #{item}
            </foreach>
        </where>
    </select>

    <!--这个是更新报表信息，里面配置好了好几条语句，例如删除、更新和插入-->
    <update id="updateReportDataConfig">
        begin
            update REPORT_QD_DETAIL
            <set>
                <if test="reportDetail.reportName!=null and reportDetail.reportName!=''">
                    report_name = #{reportDetail.reportName},
                </if>
                <if test="reportDetail.databaseId!=null and reportDetail.databaseId!=''">
                    database_id = #{reportDetail.databaseId},
                </if>
                update_time = sysdate
            </set>
            <where>
                <if test="reportDetail.reportDetailId!=null and reportDetail.reportDetailId!=''">
                    report_detail_id = #{reportDetail.reportDetailId}
                </if>
            </where>;

            update REPORT_QD_MAIN
            <set>
                <if test="reportDetail.reportName!=null and reportDetail.reportName!=''">
                    report_name = #{reportDetail.reportName},
                </if>
                <if test="reportDetail.reportDescribe!=null and reportDetail.reportDescribe!=''">
                    report_describe = #{reportDetail.reportDescribe},
                </if>
                update_time = sysdate
            </set>
            <where>
                <if test="reportDetail.reportId!=null and reportDetail.reportId!=''">
                    report_id = #{reportDetail.reportId}
                </if>
            </where>;

            delete from REPORT_QD_FIELDLIST where report_detail_id = #{reportDetail.reportDetailId};
            delete from REPORT_QD_BUSINESS where report_detail_id = #{reportDetail.reportDetailId};

            <foreach collection="reportDetail.fieldList" item="item" index="index">
                insert into REPORT_QD_FIELDLIST values
                (fieldList_newsId.nextval
                ,#{reportDetail.reportDetailId,jdbcType=VARCHAR}
                ,#{item.sqlType}
                ,#{item.sqlContent});
            </foreach>

            <foreach collection="reportDetail.businessField" item="item" index="index">
                insert into REPORT_QD_BUSINESS values
                (businessList_newsId.nextval
                ,#{reportDetail.reportDetailId,jdbcType=VARCHAR}
                ,#{item.businessField});
            </foreach>
        end;
    </update>

    <!--自定义查询报表语句执行就是这个标签-->
    <select id="getReportData"
            resultType="java.util.LinkedHashMap"
            parameterType="String">
        ${ReportSql}
    </select>

    <!--查询报表信息遍历到查询页面-->
    <select id="getReportInfo" resultType="com.hyc.report.entity.ReportDetail">
        select m.REPORT_ID,d.REPORT_DETAIL_ID,m.REPORT_NAME,m.REPORT_DESCRIBE,m.CREATE_TIME,m.UPDATE_TIME
            from REPORT_QD_MAIN m,REPORT_QD_DETAIL d
        <where>
            m.REPORT_ID = d.REPORT_ID
            <if test="reportName!=null and reportName!=''">
                and m.REPORT_NAME like concat(concat('%',#{reportName}),'%')
            </if>
        </where>
    </select>

    <!--清单报表详情需要返回的字段列结构-->
    <select id="getBusinessInfoList" resultType="com.hyc.report.entity.BusinessInfo">
        select c.COLUMN_NAME,c.DATA_TYPE
        from user_tab_columns c
        <where>
            c.COLUMN_NAME in
            <foreach collection="businessList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
            <if test="tableName!=null and tableName!=''">
                and c.TABLE_NAME=#{tableName}
            </if>
        </where>
    </select>
</mapper>
