<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyc.report.mapper.ReportMapper">
    <insert id="insertReportMain">
        insert into REPORT_QD_MAIN values
            (report_qd_main_newsId.nextval
            ,#{ReportMain.reportName}
            ,#{ReportMain.reportDescribe}
            ,sysdate,sysdate)
    </insert>
    <insert id="insertReportDetail">
        insert into REPORT_QD_DETAIL values
            (report_qd_detail_newsId.nextval
            ,#{ReportDetail.reportName}
            ,#{ReportDetail.reportId}
            ,#{ReportDetail.databaseId,jdbcType=VARCHAR}
            ,sysdate,sysdate)
    </insert>
    <insert id="insertReportDetailCondition">
        begin
            <foreach collection="reportDetail.fieldList" item="item" index="index">
                insert into REPORT_QD_FIELDLIST values
                (fieldList_newsId.nextval
                ,#{reportDetail.reportDetailId,jdbcType=VARCHAR}
                ,#{item.sqlType}
                ,#{item.sqlContent});
            </foreach>
            <foreach collection="reportDetail.businessField" item="item" index="index">
                insert into REPORT_QD_BUSINESS values
                (businessList_newsId.nextval
                ,#{reportDetail.reportDetailId,jdbcType=VARCHAR}
                ,#{item.businessField});
            </foreach>
        end;
    </insert>
    <update id="updateReportDataConfig">
        begin
            update REPORT_QD_DETAIL
            <set>
                <if test="reportDetail.reportName!=null and reportDetail.reportName!=''">
                    report_name = #{reportDetail.reportName},
                </if>
                <if test="reportDetail.databaseId!=null and reportDetail.databaseId!=''">
                    database_id = #{reportDetail.databaseId},
                </if>
                update_time = sysdate
            </set>
            <where>
                <if test="reportDetail.reportDetailId!=null and reportDetail.reportDetailId!=''">
                    report_detail_id = #{reportDetail.reportDetailId}
                </if>
            </where>;

            update REPORT_QD_MAIN
            <set>
                <if test="reportDetail.reportName!=null and reportDetail.reportName!=''">
                    report_name = #{reportDetail.reportName},
                </if>
                <if test="reportDetail.reportDescribe!=null and reportDetail.reportDescribe!=''">
                    report_describe = #{reportDetail.reportDescribe},
                </if>
                update_time = sysdate
            </set>
            <where>
                <if test="reportDetail.reportId!=null and reportDetail.reportId!=''">
                    report_id = #{reportDetail.reportId}
                </if>
            </where>;

            delete from REPORT_QD_FIELDLIST where report_detail_id = #{reportDetail.reportDetailId};
            delete from REPORT_QD_BUSINESS where report_detail_id = #{reportDetail.reportDetailId};

            <foreach collection="reportDetail.fieldList" item="item" index="index">
                insert into REPORT_QD_FIELDLIST values
                (fieldList_newsId.nextval
                ,#{reportDetail.reportDetailId,jdbcType=VARCHAR}
                ,#{item.sqlType}
                ,#{item.sqlContent});
            </foreach>

            <foreach collection="reportDetail.businessField" item="item" index="index">
                insert into REPORT_QD_BUSINESS values
                (businessList_newsId.nextval
                ,#{reportDetail.reportDetailId,jdbcType=VARCHAR}
                ,#{item.businessField});
            </foreach>
        end;
    </update>
    <delete id="deleteReportByIds">
        begin
            delete from REPORT_QD_MAIN
            <where>
                report_id in
                <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </where>;
            delete from REPORT_QD_DETAIL
            <where>
                report_id in
                <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </where>;

            delete from REPORT_QD_FIELDLIST
            <where>
                report_detail_id in
                <foreach collection="delIds" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </where>

            delete from REPORT_QD_BUSINESS
            <where>
                report_detail_id in
                <foreach collection="delIds" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </where>
        end
    </delete>
    <select id="getReportData"
            resultType="java.util.LinkedHashMap"
            parameterType="String">
        ${ReportSql}
    </select>
    <select id="getDelId" resultType="java.lang.Integer">
        select report_detail_id from REPORT_QD_DETAIL
        <foreach collection="ids" item="item" separator="," index="index" open="(" close=")">
            #{item}
        </foreach>
    </select>
</mapper>
