.page-bbpz .layer-form{}
.page-bbpz .layer-form .layui-form-wrap{padding: 0 20px 20px;}
.page-bbpz .layer-form .layui-form{max-height: 374px;overflow: auto;}

.page-bbpz .layer-form .part-2{}
.page-bbpz .layer-form .part-2 .icon-lajitong{display: block;margin: 0 auto;width: 20px;line-height: 36px;color: #0083FF;cursor: pointer;}
