.page-wdzy-detail{}
.page-wdzy-detail .record{font-size: 14px;color: #3D4465;line-height: 36px;}
.page-wdzy-detail .record span{display: inline-block;vertical-align: top;}
.page-wdzy-detail .record .sp-1{width: 24px;}
.page-wdzy-detail .record .sp-2{width: 110px;}
.page-wdzy-detail .record .sp-3{width: 90px;}
.page-wdzy-detail .record .sp-4{}
.page-wdzy-detail .record .sp-4 b{padding: 0 7px;}
.page-wdzy-detail .record .d-2{margin:3px 0 3px 24px;background-color: #F9F9F9;border: 1px solid #BDC0C7;line-height: 28px;padding: 4px 12px;}
.page-wdzy-detail .record .layui-btn{margin-bottom: 0;float: right;line-height: 28px;height: 30px;margin-top: 3px;}









